#contacts-holder {
    margin: auto;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-element {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
}

.contact-icon {
    padding-right: 10px;
}

.external-link {
    color: #FFE8D6;
    text-decoration: none;
    z-index: 4;
}

@media only screen and (max-width: 650px) {
    #contacts-holder {
        flex-direction: column;
        margin-left: 10%;
    }

    .contact-element {
        margin: 0;
        margin-right: auto;
    }
}