#contacts-holder {
    margin: auto;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-element {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 4000px) {

}