@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

#greeting {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0% 30%;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 0;
}

.greeting-title-wrapper {
    margin: auto;
    margin-top: 85vh;
    display: flex;
    flex-direction: column;
}

.greeting-title {
    font-size: 2em;
    margin: auto;
    color: #FFE8D6;
}

#down-icon {
    font-size: 2.4em;
    margin: auto;
    margin-top: 5px;
}

#toTheTop {
    z-index: 10;
    font-size: 2.4rem;
    background-color: rgba(15, 16, 12, .8);
    border-radius: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

#top-button {
    color: #FFE8D6;
}

@media only screen and (max-width: 982px) {
    #greeting {
        background-size: cover;
        object-position: 50% 50%;
    }
}