@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

$primary-font: 'Open Sans';
$champagne: #FFE8D6;
$sand: #DDBEA9;
$brass: #CB997E;
$ash: #B7B7A4;
$artichoke: #A5A58D;
$ebony: #6B705C;
$eerie: #151612;

#greeting {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 0% 30%;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 0;
}

.greeting-title-wrapper {
    margin: auto;
    margin-top: 85vh;
    display: flex;
    flex-direction: column;
}

.greeting-title {
    font-size: 2em;
    margin: auto;
    color: $champagne;
}

#down-icon {
    font-size: 2.4em;
    margin: auto;
    margin-top: 5px;
}

@media only screen and (max-width: 982px) {
    #greeting {
        background-size: cover;
        object-position: 50% 50%;
    }
}