.lightbox {
    margin: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 85vw;
    height: 85vh;
}

.img-lightbox {
    margin: auto;
    outline: none;
}
.magnifique {
    margin: auto;
    border: none;
}

.magnifique img {
    display: block;
    width: auto;
    height: auto;
    min-height: 50vh;
    min-width: 40vh;
    max-height: 80vh;
    max-width: 80vw;
}

.img-description {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    background-color: rgba(15,16,12,.9);
}

.img-title {
    margin: 0;
    margin-right: auto;
    color: #FFE8D6;
    font-size: 1rem;
}

.img-medium {
    margin: 0;
    margin-right: auto;
    color: white;
    font-size: .8rem;
}

.img-date {
    margin: 0;
    margin-right: auto;
    color: white;
    font-size: .8rem;
}