.lightbox {
    margin: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
}

.img-lightbox {
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}