@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

/*
    $primary-font: 'Open Sans';
    $champagne: #FFE8D6;
    $sand: #DDBEA9;
    $brass: #CB997E;
    $ash: #B7B7A4;
    $artichoke: #A5A58D;
    $ebony: #6B705C;
    $black-olive: #404337;
    $eerie: #151612;

    Monochrome: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
*/

body {
    margin: 0;
    font: 100% 'Open Sans';
    color: #212529;
    background-color: #E9ECEF;
    overflow-x: hidden;
}

.footer p {
    text-align: center;
    margin: 10px 0 40px 0;
}

#top {
    overflow: hidden;
}

.clear {
    clear: both;
}