@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

$primary-font: 'Open Sans';
$champagne: #FFE8D6;
$sand: #DDBEA9;
$brass: #CB997E;
$ash: #B7B7A4;
$artichoke: #A5A58D;
$ebony: #6B705C;
$black-olive: #404337;
$eerie: #151612;

body {
    margin-left: 0;
    margin-top: 0;
    font: 100% $primary-font;
    color: $champagne;
    background-color: $eerie;

    .footer {
        padding-top: 24px;
        text-align: center;
        text-decoration: underline;
    }
}

.clear {
    clear: both;
}