@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

.menu-bar {
    width: 100%;
    background-color: #151612;
    position: absolute;
    opacity: .8;
}

.nav-menu {
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    background-color: #151612;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

#signature img {
    height: 60px;
    width: auto;
    background-color: #151612;
    float: left;
}

.menu-item {
    color: #B7B7A4;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

a.menu-item:hover {
    color: #DDBEA9;
}

#hamburger-icon {
    color: #FFE8D6;
    font-size: 1.1em;
}

#accordion-button {
    background-color: #151612;
    padding: 0;
    padding-right: 15px;
}

#accordion-details {
    background-color: #151612;
}

.clear {
    clear: both;
}