@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

$primary-font: 'Open Sans';
$champagne: #FFE8D6;
$sand: #DDBEA9;
$brass: #CB997E;
$ash: #B7B7A4;
$artichoke: #A5A58D;
$ebony: #6B705C;
$black-olive: #404337;
$eerie: #151612;


.menu-bar {
    width: 100%;
    background-color: $eerie;
    position: -webkit-sticky;
    position: fixed;
    opacity: .8;
}

.nav-menu {
    display: inline-flex;
    flex-direction: row;
    background-color: $eerie;
    border-radius: 0 0 0 5px;
    margin-left: 80%;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    align-items: center;
    position: fixed;
    z-index: 4;
}

#signature img {
    height: 60px;
    width: auto;
    border-radius: 0 0 5px 0;
    background-color: $eerie;
    float: left;
}

.menu-item {
    color: $ash;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

a.menu-item:hover {
    color: $sand;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    height: auto;
}

.clear {
    clear: both;
}